<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav ml-auto header-detail-items">
        <li class="nav-item active">
            {{#if userCase}}
                Add
            {{/if}}
            {{#unless userCase}}
                Login
            {{/unless}}
        </li>
    </ul>
</div>