<div class="searchbar">
    <input type="text" name="" value="">
    <button onclick="myFunction()" class="dropbtn">Search By</button>
    <div id="statsDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <a href="#HorseID">Horse ID</a>
        <a href="#TopSpeed">Top Speed</a>
        <a href="#Acceleration">Acceleration</a>
        <a href="#Reliability">Reliability</a>
        <a href="#Endurance">Endurance</a>
    </div>
    <button id="find-horse">Search</button>
</div>