<div id="addhorsefrom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{msg}}</h1>
                <h2>Add a Horse:</h2>
                <br>
                <h6>Please enter the owner name, horse name, and the horse's statistics in the indicated space below.
                </h6>
                <br>
                <form class="horseForm" action="/api/horses" method="POST">
                    <div class="form-group">
                        <label for="example-text">Horse Name:</label>
                        <input type="text" id="hn" name="horse_name" class="form-control"
                            aria-describedby="example-text" placeholder="Seabiscuit" required>
                    </div>
                    <div class="form-group">
                        <label for="example-text">Horse's Age:</label>
                        <input type="number" id="hage" name="age" class="form-control" aria-describedby="example-text"
                            placeholder="1" required>
                    </div>
                    <div class="form-group">
                        <h3>Speed: <b id="speedValue"></b></h3>
                        <input type="range" name="speed" class="custom-range" min="1" max="10" value="5" id="horseTopSpeed">
                    </div>
                    <div class="form-group">
                        <h3>Endurance: <b id="enduranceValue"></b></h3>
                        <input type="range" name="endurance" class="custom-range" min="1" max="10" value="5" id="horseEndurance">
                    </div>
                    <div class="form-group">
                        <h3>Reliability: <b id="reliabilityValue"></b></h3>
                        <input type="range" name="reliability" class="custom-range" min="1" max="10" value="5"
                            id="horseReliability">

                    </div>
                    <div class="form-group">
                        <h3>Acceleration: <b id="accValue"></b></h3>
                        <input type="range" name="acceleration" class="custom-range" min="1" max="10" value="5"
                            id="horseAcceleration">
                        </select>
                    </div>
                    {{!-- On submit of form, post horse to Horsedb --}}
                    <div class="submitButton">
                        <button id="addHorse" class="btn btn-primary float-right">Submit</button>
                        <div id="matchModal" class="modal" role="dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Your horse has been add to our database!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="modalSubmit" class="btn btn-default submitButton"
                                        href="/">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var speedSlider = document.getElementById("horseTopSpeed");
    var speedOutput = document.getElementById("speedValue");
    speedOutput.innerHTML = speedSlider.value;
    speedSlider.oninput = function () {
        speedOutput.innerHTML = this.value;
    }
    var enduranceSlider = document.getElementById("horseEndurance");
    var enduranceOutput = document.getElementById("enduranceValue");
    enduranceOutput.innerHTML = enduranceSlider.value;
    enduranceSlider.oninput = function () {
        enduranceOutput.innerHTML = this.value;
    }
    var accSlider = document.getElementById("horseAcceleration");
    var accOutput = document.getElementById("accValue");
    accOutput.innerHTML = accSlider.value;
    accSlider.oninput = function () {
        accOutput.innerHTML = this.value;
    }
    var relSlider = document.getElementById("horseReliability");
    var relOutput = document.getElementById("reliabilityValue");
    relOutput.innerHTML = relSlider.value;
    relSlider.oninput = function () {
        relOutput.innerHTML = this.value;
    }    
</script>