<h1>Test</h1>
    {{#each userHorses}}
        {{!-- in options we are pulling the primary key which is ID but priting the corresponding username --}}
        <div>{{this.horse_name}}</div>
    {{/each}}