<h1>Filler</h1>
<h1>More filler</h1>
<form action="/{{type}}" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="{{type}}"/>
    </div>
</form>
<a href="/register">Register</a>
 ||
<a href="/login">Go To Login</a>