body  {
  background-color: #eee8da;
}

.navbar-format {
  background-color: #5D5C61 !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
  height: 60px
}

.list-group-item {
  line-height: 2.5;
}

.nav-link {
  color: lightgray;
}

.footer-details {
  height: 50px;
  color: #ffffff;
  background-color: #5D5C61;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  /* position: sticky !important;     */
}

<<<<<<< HEAD
.container {
=======
.container{
>>>>>>> 7755ea1135f40eb7a2010cdfa30359282d164174
  margin-top: 60px;
  margin-bottom: 80px;
}