body  {
  background-color: #eee8da;
}

.navbar-format {
  background-color: #5D5C61 !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
  height: 60px
}

.list-group-item {
  line-height: 2.5;
}

.nav-link {
  color: lightgray;
}

.footer-details {
  height: 50px;
  color: #ffffff;
  background-color: #5D5C61;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  /* position: sticky !important;     */
}



/* .verifyModal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: table;
} */